<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"

xsi:schemaLocation=
  "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
   
   <!-- 配置视图解析器(渲染器) -->
    <!-- 指定视图解析器的类型:jsp视图解析器 -->
     <!-- 指定视图解析器  动态生成路径  前缀 -->
      <!-- 指定视图解析器  动态生成路径  后缀 
   <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	
	 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	
	 <property name="prefix" value="WEB-INF/jsp/"></property>
	
	 <property name="suffix" value=".jsp"></property>
   </bean>-->
   
   <!-- ######################################################### -->
   
   <!-- 配置扫描区域 :开发模式 切换此扫描区域
   <context:component-scan base-package="com.lf.test"/>  
   -->
   
   <!-- 配置扫描区域:开发模式 切换此扫描区域  -->
   <context:component-scan base-package="com.top.cloud.controller"/>
  
   
   <!-- ######################################################### -->
   
   <!-- 文件上传解析器-->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	   <property name="defaultEncoding" value="utf8"/>
	   <property name="maxUploadSize" value="102400000"></property>
	   <property name="maxInMemorySize" value="40960"></property>
   </bean>
   
   <!--  配置json转换器 -->
   <!-- 用于将对象转换为 JSON  -->  
   <bean id="stringConverter"  
        class="org.springframework.http.converter.StringHttpMessageConverter">  
        <property name="supportedMediaTypes">  
            <list>  
                <value>text/plain;charset=UTF-8</value>  
            </list>  
        </property>  
    </bean>  
    <bean id="jsonConverter"  
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>  
    <bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="stringConverter" />  
                <ref bean="jsonConverter" />  
            </list>  
        </property>
    </bean>  
   
    <!-- 拦截器配置 -->
   

</beans>

















